import("methods")
import("AnnotationDbi")
importMethodsFrom("Biobase", "annotation", "description")
importFrom("RBGL", "tsort")

export(
       ".doHyperGTest",
       "applyByCategory",
       "cateGOry",
       "chrBandInciMat",
       "findAMstats",
       "geneGoHyperGeoTest",
       "geneKeggHyperGeoTest",
       "getPathNames",
       "makeChrBandGraph",
       "makeChrBandInciMat",
       "makeEBcontr",
       "MAPAmat",
       "probes2MAP",
       "probes2Path",
       "ttperm")

exportClasses("HyperGParams",
              "GOHyperGParams",
              "KEGGHyperGParams",
              "PFAMHyperGParams",
              "ChrMapHyperGParams",

              "HyperGResultBase",
              "HyperGResult",
              "ChrMapHyperGResult")

exportMethods("hyperGTest",
              
              "universeBuilder",
              "categoryToEntrezBuilder",

              "categoryName",
              "makeValidParams",

              ## accessors for HyperGResult
              "chrGraph",
              "pvalues",
              "geneCounts",
              "universeCounts",
              "universeMappedCount",
              "geneMappedCount",
              "annotation",
              "geneIds",
              "geneIds<-",
              "geneIdUniverse",
              "condGeneIdUniverse",
              "testName",
              "pvalueCutoff",
              "pvalueCutoff<-",
              "testDirection",
              "testDirection<-",
              "description",
              "universeGeneIds",
              "ontology",
              "ontology<-",
              "conditional",
              "conditional<-",
              "isConditional",
              "oddsRatios",
              "expectedCounts",
              "htmlReport",

              "initialize",
              "show",
              "summary")
