import("methods")
import("AnnotationDbi")
importMethodsFrom("Biobase", "annotation", "description")

export("applyByCategory",  "ttperm",
 "cateGOry", "findAMstats", "MAPAmat", "probes2MAP",
 "getPathNames", "makeEBcontr", "probes2Path",
       "parseChrMap")

exportClasses("HyperGParams",
              "GOHyperGParams",
              "KEGGHyperGParams",
              "PFAMHyperGParams",
              "ChrMapHyperGParams",

              "HyperGResultBase",
              "HyperGResult",
              "ChrMapHyperGResult",

              "DatPkg",
              "DBPkg",
              "AffyDatPkg",
              "YeastDatPkg",
              "OrganismMappingDatPkg",
              "AffyDBPkg",
              "YeastDBPkg",
              "OrganismMappingDBPkg")

exportMethods("hyperGTest",
              
              "universeBuilder",
              "categoryToEntrezBuilder",

              "categoryName",
              "makeValidParams",

              ## accessors for HyperGResult
              "chrGraph",
              "pvalues",
              "geneCounts",
              "universeCounts",
              "universeMappedCount",
              "geneMappedCount",
              "annotation",
              "geneIds",
              "geneIds<-",
              "geneIdUniverse",
              "condGeneIdUniverse",
              "testName",
              "pvalueCutoff",
              "pvalueCutoff<-",
              "testDirection",
              "testDirection<-",
              "description",
              "universeGeneIds",
              "ontology",
              "ontology<-",
              "conditional",
              "conditional<-",
              "isConditional",
              "oddsRatios",
              "expectedCounts",
              "htmlReport",

              ## accessors for DatPkg
              "ID2GO",
              "ID2EntrezID",
              "GO2AllProbes",

              "initialize",
              "show",
              "summary")

export(geneGoHyperGeoTest, geneKeggHyperGeoTest,
       ".doHyperGTest")
