import("methods")
import("AnnotationDbi")
importMethodsFrom("Biobase", "annotation", "description")
importFrom("RBGL", "tsort", "dijkstra.sp")

export(
       ".doHyperGTest",
       "applyByCategory",
       "cateGOry",
       "cb_children",
       "cb_contingency",
       "cb_parse_band_hsa",
       "cb_parse_band_mmus",
       "cb_sigBands",
       "cb_test",
       "chrBandInciMat",
       "ChrBandTreeFromGraph",
       "DatPkgFactory",
       "exampleLevels",
       "findAMstats",
       "geneGoHyperGeoTest",
       "geneKeggHyperGeoTest",
       "getPathNames",
       "gseattperm",
       "makeChrBandGraph",
       "makeChrBandInciMat",
       "makeEBcontr",
       "NewChrBandTree",
       "MAPAmat",
       "probes2MAP",
       "probes2Path",
       "ttperm")

exportClasses("DatPkg",
              "AffyDatPkg",
              "YeastDatPkg",
              "OrganismMappingDatPkg",
              "Org.XX.egDatPkg",

              "HyperGParams",
              "GOHyperGParams",
              "KEGGHyperGParams",
              "PFAMHyperGParams",
              "ChrMapHyperGParams",

              "HyperGResultBase",
              "HyperGResult",
              "ChrMapHyperGResult",
              "ChrBandTree",
              "KEGGHyperGResult",
              "PFAMHyperGResult")

exportMethods("hyperGTest",

              "universeBuilder",
              "categoryToEntrezBuilder",

              "categoryName",
              "makeValidParams",

              ## accessors for HyperGResult
              "chrGraph",
              "pvalues",
              "geneCounts",
              "universeCounts",
              "universeMappedCount",
              "geneMappedCount",
              "annotation",
              "geneIds",
              "geneIds<-",
              "geneIdsByCategory",
              "geneIdUniverse",
              "condGeneIdUniverse",
              "testName",
              "pvalueCutoff",
              "pvalueCutoff<-",
              "testDirection",
              "testDirection<-",
              "description",
              "universeGeneIds",
              "ontology",
              "ontology<-",
              "conditional",
              "conditional<-",
              "isConditional",
              "oddsRatios",
              "expectedCounts",
              "htmlReport",
              "sigCategories",

              ## accessors for DatPkg
              "ID2GO",
              "ID2EntrezID",
              "GO2AllProbes",

              "initialize",
              "show",
              "summary",

              ## accessors for ChrBandTree
              "allGeneIds",
              "childrenOf",
              "lgeneIds",
              "parentOf")
